@font-face{
    font-family: "mont__light";
    src: url("./../fonts/Montserrat-Light.ttf")
}
@font-face{
    font-family: "mont__reg";
    src: url("./../fonts/Montserrat-Regular.ttf")
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    font-family: "mont__reg";
    -webkit-appearance: none;
}

::-webkit-scrollbar{
    width: 0;
}

p{
    line-height: 175%;
}

.btn{
    display: inline-block;
    padding: 5px 20px;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;

    transition: .5s;
}

.btn:hover{
    background: #fff;
    color: rgb(86, 218, 137);
}

.section__footer,
.section__content{
    padding: 40px 80px;
}

.section__heading{
    position: relative;
    margin-bottom: 40px;

    display: inline-block;

    font-family: "mont__light";
    line-height: 150%;
}

.section__heading::before{
    content: "";

    position: absolute;
    bottom: -10px;

    width: 35%;
    height: 2px;
    background: #121212;
}

/* header */

.section__header{
    padding: 20px 80px;

    display: flex;
    flex-direction: column;

    background: rgb(86, 218, 137);
    color: #fff;
}

.section__header--content{
    display: flex;
    justify-content: space-between;
}

.section__header--info__list,
.section__header--list{
    display: flex;
}

.section__header--logo{
    display: inline-block;

    color: #fff;
    font-size: 24px;
}

.section__header--content:not(:last-child){
    margin-bottom: 30px;
}

.section__header--item:not(:last-child){
    margin-right: 20px;
}

.info__user,
.info__case{
    margin-right: 10px;
    
    display: inline-block;

    width: 20px;
    height: 20px;
}

.info__user{
    background: url("./../images/user.png");
    background-size: cover;
    filter: invert(1)
}

.info__case{
    background: url("./../images/case.png");
    background-size: cover;
    filter: invert(1)
}

.section__header--info__item{
    display: flex;
    align-items: center;
}

.section__header--info__item:not(:last-child){
    margin-right: 30px;
}

/* about */

.section__about--description{
    margin-bottom: 20px;

    max-width: 600px;
}

.section__about--link{
    padding: 15px 40px;

    border: 1px solid rgb(86, 218, 137);
    color: #56DA89;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.section__about--link:hover{
    color: #fff;
    background: #56DA89;
}

/* map */

.section__map--list{
    display: flex;
}

.section__map--item{
    padding: 20px;
    margin-bottom: 30px;

    flex: 1 1 20%;

    text-align: center;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.section__map--item:not(:last-child){
    margin-right: 30px;
}

.section__map--heading{
    margin-bottom: 20px;
}

/* beatiful */

.section__beatiful--list{
    display: flex;
    justify-content: center;
}

.section__beatiful--item{
    padding: 20px;

    max-width: 300px;
    width: 100%;

    border: 1px solid #56DA89;
    text-align: center;
    border-radius: 6px;
}

.section__beatiful--item:first-child{
    margin-right: 30px;
}

.section__beatiful--heading{
    margin-bottom: 20px;
}

.section__beatiful--link{
    margin-top: 30px;
    padding: 15px 0;

    width: 100%;

    border: 1px solid #56DA89;
    color: #56da89;
}

.section__beatiful--icon{
    margin-bottom: 30px;

    width: 50px;
    height: 50px;

    display: inline-block;
}

.icon__customer{
    background: url("./../images/customer.png");
    background-size: cover;
}

.icon__developer{
    background: url("./../images/developer.png");
    background-size: cover;
}

.section__beatiful--link:hover{
    color: #fff;
    background: #56da89;
}

/* work */

.work__item{
    text-align: left;
}

.work__link{
    text-align: center;
}

.work__all{
    margin: auto;

    max-width: 400px;

    text-align: center;
}

/* footer */

.section__footer{
    background: #121212;
}

.section__footer--block{
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
}

.section__footer--logo{
    color: #fff;
    font-size: 24px;
}

.section__footer--list{
    display: flex;
    align-items: center;
}

.section__footer--apps{
    width: 150px;
}

.copyright{
    margin-top: 30px;

    color: #fff;
    text-align: center;
}

.section__footer--item:not(:last-child){
    margin-right: 40px;
}

.section__footer--email,
.section__footer--link{
    color: #fff;
}

.section__footer--item{
    transition: .5s;
}

.section__footer--item:hover{
    transform: scale(1.1);
}


.section__form--form{
    display: flex;
    flex-direction: column;

    max-width: 400px;
}

.section__form--input{
    padding: 15px 25px;
    margin-bottom: 10px;

    border: 1px solid #56da89;
    border-radius: 6px;
    outline:  #56da89;
    font-size: 16px;
}

.section__form--input::placeholder{
    color: #56da89;
}

.btn__input{
    color: #56da89;
    text-align: center;
    background: #fff;

    transition: .5s;
}

.btn__input:hover{
    background: #56da89;
    color: #fff;
}

.section__form--social{
    margin-top: 20px;

    display: flex;
    justify-content: space-between;

    max-width: 400px;
}

select.section__form--input{
    color: #56da89;
}

.section__form--link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    
    background: #fff;
    box-shadow: 0px -4px 10px rgba(0,0,0,0.25);
    color: #56da89;
    border-radius: 50%;
    font-size: 20px;

    transition: .5s;
}

.section__form--link:hover{
    transform: translateY(-3px);
}

.section__subheading{
    margin-bottom: 30px;
    margin-top: 20px;
}

.input__textarea{
    resize: none;
    height: 120px;
}

.input__label{
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.input__checkbox{
    position: relative;

    margin-right: 20px;

    width: 30px;
    height: 30px;
}

.input__checkbox::before{
    content: "✓";

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border: 1px solid #56da89;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;

    transition: .5s;
}

.section__map--item:last-child{
    margin-right: 0 !important;
}

.input__checkbox:checked::before{
    background: #56da89;
}

.section__form--pagination{
    display: flex;
    flex-wrap: wrap;
}

.section__form--paginate{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border: 1px solid #56da89;
    border-radius: 6px;
    color: #56da89;

    transition: .5s;
}

.section__form--paginate:hover{
    background: #56da89;
    color: #fff;
}

.section__form--paginate:not(:last-child){
    margin-right: 15px;
}

.one__work__width{
    margin-right: 20px;

    max-width: 300px;
}

/* media */

@media (max-width: 1180px){
    .section__footer--block{
        flex-direction: column;
    }

    .section__footer--logo{
        margin-bottom: 30px;
    }

    .copyright{ 
        text-align: left;
    }

    .section__footer--apps{
        margin-bottom: 30px;
    }
}

@media (max-width: 1100px){
    .section__map--list{
        flex-wrap: wrap;
    }

    .section__map--list .section__map--item{
        margin-right: 30px;

        flex: 1 1 40%;
    }

    .section__map--list .section__map--item:nth-child(2n){
        margin-right: 0;
    }

    .section__footer--list{
        align-items: flex-start;
        flex-direction: column;
    }

    .section__footer--item{
        margin-bottom: 15px;
    }

    .list__social{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .list__social .section__footer--item:nth-child(1){
        margin-bottom: 15px;

        width: 100%;
    }
}

@media (max-width: 780px){
    .section__footer,
    .section__content{
        padding: 30px 40px;
    }

    .section__header{
        padding: 20px 40px;
    }

    .section__header--content{
        flex-direction: column;
    }

    .section__header--info__list,
    .section__header--list{
        margin-top: 20px;
    }

    .section__map--list .section__map--item{
        margin-right: 0px;

        flex: 1 1 100%;
    }

    .section__beatiful--list .section__beatiful--item{
        margin-bottom: 30px;
        margin-right: 0;

        max-width: 100%;
    }

    .section__beatiful--list{
        flex-wrap: wrap;
    }
}

@media (max-width: 500px){
    .section__footer,
    .section__content{
        padding: 20px 10px;
    }

    .section__header{
        padding: 20px 10px;
    }
}